<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Evaluación M2</title>
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body>
    <header>
      <h1>Buscador de series</h1>
    </header>
    <main>
      <form action="">
        <input class="js-input" type="text" value="Gilmore" />
        <input class="js-btn" type="button" value="Buscar" />
      </form>

      <ul class="js-list"></ul>
    </main>
    <aside>
      <h3>Mis series favoritas</h3>
      <ul class="js-fav-list"></ul>
    </aside>
    <script src="./assets/js/main.js"></script>
  </body>
</html>
