<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Evaluación M2</title>
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body class="body">
    <header class="header">
      <h1 class="header--title">Buscador de series</h1>
    </header>
    <div class="page-container">
      <main class="main">
        <h2 class="main--title">Resultados de búsqueda:</h2>
        <div>
          <ul class="js-list main--list"></ul>
        </div>
      </main>
      <aside class="aside">
        <form class="aside--form" action="">
          <input class="aside--form__input js-input" type="text" placeholder="Nombre de la serie" value="Friends" />
          <input class="aside--form__button js-btn" type="button" value="Buscar" />
        </form>
        <h3 class="aside--title">Mis series favoritas</h3>

        <ul class="js-fav-list aside--list"></ul>
      </aside>
    </div>
    <script src="./assets/js/main.js"></script>
  </body>
</html>
