<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Evaluación M2</title>
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body>
    <header class="header">
      <h1>Buscador de series</h1>
    </header>
    <div class="body">
      <main class="main">
        <h2>Resultados de búsqueda:</h2>
        <div>
          <ul class="js-list main--list"></ul>
        </div>
      </main>
      <aside class="aside">
        <form action="">
          <input class="js-input" type="text" value="Gilmore" />
          <input class="js-btn" type="button" value="Buscar" />
        </form>
        <h3>Mis series favoritas</h3>
        <div>
          <ul class="js-fav-list aside--list"></ul>
        </div>
      </aside>
    </div>
    <script src="./assets/js/main.js"></script>
  </body>
</html>
