.aside {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  width: 28, 5vw;
  background-color: rgb(255, 242, 189);
  padding: 10px 0 10px 20px;

  &--form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    &__input {
      width: 150px;
      height: 25px;
      border: none;
      border-bottom: solid 1px rgb(223, 124, 124);
      padding: 5px;
    }
    &__button {
      border: none;
      background-color: rgb(223, 124, 124);
      height: 25px;
      width: 50px;
      color: white;
      outline: none;
      border-bottom: solid 1px white;
      &:hover {
        background-color: white;
        color: rgb(223, 124, 124);
      }
      &:active {
        background-color: rgb(223, 124, 124);
        color: white;
      }
    }
  }
  &--title {
    margin: 10px 0 10px 0;
    padding: 5px 0 10px 0;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(63, 107, 100);
    border-bottom: white solid 1px;
  }

  &--list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    width: fit-content;
    &-div {
      display: flex;
    }
    &__text {
      padding: 2px;
      font-size: 14px;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      background-color: rgb(223, 124, 124);
      width: 150px;
    }
    &__icon {
      margin-left: 5px;
      color: rgb(223, 124, 124);
      display: inline-block;
    }
    &__img {
      width: 150px;
      margin: 10px 0 10px 0;
    }
  }
}
